<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JBS - Pet Clinic</title>
</head>
<body>
<!--/*thymesVar id="owner" type="com.josimas.projectone.owner.Owner"*/-->

<h1 th:text="'List of Owners'">Owners List</h1>

<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}">0</td>
        <td th:text="${owner?.firstName}">Josimar</td>
        <td th:text="${owner?.lastName}">B. da Silva</td>
    </tr>
    </tbody>
</table>

</body>
</html>